/** @fileoverview Styles for a simple card UI. */

.frag-card {
    border: 3px solid var(--dwac-color-primary);
    border-radius: 10px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.5);

    padding: 0.75rem;
}

.frag-card .card-title {
    margin: 0;
}

.frag-card .card-content {
    margin-top: 0.5rem;
}
