{% macro footer(class="") %}
    <footer class="frag-footer {{ class }}">
        <p>Failed to scare you away? Try one of these links:</p>
        <p>
            Follow me on Twitter:
            <a href="{{ author.twit }}">@develwoutacause</a>
        </p>
        <p>
            Check out my GitHub profile:
            <a href="{{ author.github }}">dgp1130</a>
        </p>
        <p>
            Fix a typo or help me write more gooder:
            <a href="{{ author.blog_source }}/www/index.njk">
                dgp1130/blog
            </a>
        </p>
    </footer>
{% endmacro %}

{% macro styles() %}
    {% include "fragments/footer.css" %}
{% endmacro %}
