/** @fileoverview Styles for the page header. */

.frag-header {
    text-align: center;
    background-color: var(--dwac-color-primary);
    padding: 0.5rem;
}

.frag-header h1 {
    color: var(--dwac-color-secondary);
    margin: 0;
    padding: 0;
}
