# Node install directory.
node_modules/

# Eleventy output directory.
_site/

# Ignore generated sourcemaps.
**/*.js.map

# Ignore generated JavaScript files.
filters/styles.js
filters/utils.js
filters/utils_test.js
testing/filters.js
testing/filters_test.js