/**
 * @fileoverview Noto Color Emoji font from
 * https://github.com/googlefonts/noto-emoji/ subset to only the emojis actually
 * used on the site.
 */

@font-face {
    font-family: 'Noto Color Emoji';
    src: url('/res/fonts/noto/noto-color-emoji.woff2') format('woff2');
    /* Defines what code points are supported by this font, so the browser can
       skip downloading it if no emojis are actually on the page. This must be
       kept in sync with the unicodes.txt file which subsets the font. */
    unicode-range: U+1F937, U+200D, U+2642, U+FE0F;
    font-display: swap;
}
