/**
 * @fileoverview Noto Color Emoji font from
 * https://github.com/googlefonts/noto-emoji/ subset to only the emojis actually
 * used on the site.
 */

@font-face {
    font-family: 'Noto Color Emoji';
    src: url('/res/fonts/noto/noto-color-emoji.woff2') format('woff2');
    /* Defines what code points are supported by this font, so the browser can
       skip downloading it if no emojis are actually on the page. This must be
       kept in sync with the `./emojis.txt` file which subsets the font. */
    unicode-range:
        U+1F389 /* 🎉 - Popper */,
        U+1F3D6️ U+FE0F /* 🏖️ - Beach with umbrella */,
        U+1F609 /* 😉 - Winking face */,
        U+1F622 /* 😢 - Crying face */,
        U+1F6CC /* 🛌 - Person in bed */,
        U+1F6EB /* 🛫 - Airplane departure */,
        U+1F937 U+200D U+2642 U+FE0F /* 🤷‍♂️ - Man shrugging. */;
    font-display: swap;
}
