/** Style sheet for the root index page. */

@import "/styles/base.css";
@import "/styles/card.css";
@import "/styles/footer.css";
@import "/styles/header.css";
@import "/styles/theme.css";

:root {
    --dwac-index-padding: 0.75rem;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.header {
    padding-left: var(--dwac-index-padding);
    padding-right: var(--dwac-index-padding);
}

h2 {
    margin: 1rem 0;
    text-align: center;
    text-decoration: underline;
}

main {
    padding: var(--dwac-index-padding);
    /* Leave extra room on bottom for last card's drop-shadow. */
    padding-bottom: calc(var(--dwac-index-padding) + 6px);
}

.posts {
    padding: 0 0.5rem;
}

.posts li + li {
    margin-top: 20px;
}

.post-timestamp {
    text-decoration: underline;
}

.footer {
    padding: var(--dwac-index-padding);
    margin-top: auto;
}
