<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <article>{{ content }}</article>
        <aside>{% include fragments/author %}</aside>
    </body>
</html>
