<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ excerpt }}">
    </head>
    <body>
        <article>{{ content }}</article>
        <aside>{% include fragments/author %}</aside>
    </body>
</html>
