{% import "fragments/card.njk" as card %}
{% import "fragments/favicon.njk" as favicon %}
{% import "fragments/footer.njk" as footer %}
{% import "fragments/header.njk" as header %}

{#
    For some unknown reason, by putting a `block` inside a `set`, that block is
    now **required** and will throw an error if not provided. There seems to be
    no way to use an optional `block` inside a `set`, which is quite limiting.
    However, it does provide a means of requiring specific blocks where this
    template is used.
#}
{% set title %}
    {% filter oneline %}
        {% block title %}{% endblock %}
    {% endfilter %}
{% endset %}
{% set desc %}
    {% filter oneline %}
        {% block description %}{% endblock %}
    {% endfilter %}
{% endset %}
{% set styles %}
    res/fonts/lora/lora.css
    {% block styles %}{% endblock %}
{% endset %}
{% set content %}
    {% block content %}{% endblock %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ desc }}">

        <link rel="preload" href="/res/fonts/lora/latin.woff2" as="font"
            crossorigin="anonymous">
        {{ favicon.favicon() }}

        <style>{{ styles | trim | css | safe }}</style>

        {% block head %}{% endblock %}

        <script async defer src="https://plausible.io/js/plausible.js"></script>
    </head>
    <body>
        {{ header.header(class="header") }}

        <main class="base-content">
            {{ content | safe }}
        </main>

        {{ footer.footer(author, repo, page.inputPath, class="base-footer") }}
    </body>
</html>
