/** Style sheet for the base page. */

@import url(../../styles/base.css);
@import url(../../styles/theme.css);
@import url(../fragments/footer.css);
@import url(../fragments/header.css);

:root {
    /* 1rem at base font size. We hard-code this value so the padding doesn't
     * change as the font size increases with screen width. */
    --dwac-base-padding: 16px;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

h2 {
    margin: 0 0 1rem 0;
    text-align: center;

    /* From markdown styles. */
    color: #666;
    font-size: 1.875em;
    line-height: 1.33333em;
}

main {
    flex: 1;
    background-color: var(--dwac-color-bg);
    padding: var(--dwac-base-padding);
    width: calc(min(100%, 1024px) - (2 * var(--dwac-base-padding)));
    margin: 0 auto; /* Center text content. */
}

.base-footer {
    margin-top: auto;
}
