{% import "fragments/card.njk" as card %}
{% import "fragments/favicon.njk" as favicon %}
{% import "fragments/footer.njk" as footer %}
{% import "fragments/header.njk" as header %}

{#
    For some unknown reason, by putting a `block` inside a `set`, that block is
    now **required** and will throw an error if not provided. There seems to be
    no way to use an optional `block` inside a `set`, which is quite limiting.
    However, it does provide a means of requiring specific blocks where this
    template is used.
#}
{% set title %}
    {% filter oneline %}
        {% block title %}{% endblock %}
    {% endfilter %}
{% endset %}
{% set desc %}
    {% filter oneline %}
        {% block description %}{% endblock %}
    {% endfilter %}
{% endset %}
{% set socialImageBlock -%}
    {% block socialImage %}{% endblock %}
{%- endset %}
{% set socialImageAltBlock -%}
    {% block socialImageAlt %}{% endblock %}
{%- endset %}
{% set scripts %}
    {% block scripts %}{% endblock %}
{% endset %}
{% set styles %}
    {% block styles %}{% endblock %}
{% endset %}
{% set content %}
    {% block content %}{% endblock %}
{% endset %}

{# Throw an error if the page to provide a social image alt. #}
{% if (socialImageBlock and not socialImageAltBlock)
        or (not socialImageBlock and socialImageAltBlock) %}
    {% filter throw %}
        If a custom social image is provided, then a custom alt tag must also be
        provided.
    {% endfilter %}
{% endif %}

{# Trim and default the social image. #}
{% set socialImage -%}
    {% if socialImageBlock | trim === "" -%}
        https://blog.dwac.dev/res/img/social.webp
    {%- else -%}
        {{ socialImageBlock | safe }}
    {%- endif %}
{%- endset %}

{# Trim and default the social image alt text. #}
{% set socialImageAlt -%}
    {% if socialImageAltBlock | trim === "" -%}
        {% filter oneline %}
            Headshot of the author wearing a Noogler propeller hat, googley-eyed
            glasses, and a Google t-shirt.
        {% endfilter %}
    {%- else -%}
        {{ socialImageAltBlock | safe }}
    {%- endif %}
{%- endset %}

{% set ogType -%}
    {% if ogTypeBlock -%}
        {{ ogTypeBlock | safe }}
    {%- else -%}
        website
    {%- endif %}
{%- endset %}

<!DOCTYPE html>
<html lang="en">
    <head prefix="ns_article: https://ogp.me/ns/article#">
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ desc }}">

        {# For the all-important leaderboard: https://www.11ty.dev/speedlify/ #}
        <meta name="generator" content="Eleventy">

        {# Open Graph meta tags. #}
        <meta property="og:title" content="{{ title }}">
        <meta property="og:type" content="{{ ogType }}">
        <meta property="og:image" content="{{ socialImage }}">
        <meta property="og:image:alt" content="{{ socialImageAlt }}">
        <meta property="og:description" content="{{ desc }}">
        <meta namproperty="og:site_name" content="Devel without a Cause">

        {# Twitter meta tags to render nicely in a card. #}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ desc }}">
        {# Note: image must meet a few requirements to be valid:
           https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup #}
        <meta name="twitter:image" content="{{ socialImage }}">
        <meta name="twitter:image:alt" content="{{ socialImageAlt }}">

        <link rel="preload" href="/res/fonts/lora/latin.woff2" as="font"
            crossorigin="anonymous">
        <link rel="alternate" type="application/atom+xml" title="feed"
            href="/feed.xml">
        {{ favicon.favicon() }}

        <style>{{ styles | trim | css | safe }}</style>

        {% block head %}{% endblock %}

        {% for script in scripts | trim | split('\n') %}
            <script src="{{ script | trim }}" async defer></script>
        {% endfor %}
    </head>
    <body>
        {{ header.header(class="header") }}

        <main>
            {{ content | safe }}
        </main>

        {{ footer.footer(author, repo, page.inputPath, class="base-footer") }}
    </body>
</html>
