{% import "fragments/author.njk" as authorFrag %}

{% extends "pages/base.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block description %}
    {{ excerpt }}
{% endblock %}

{% block styles %}
    _includes/pages/post.css
{% endblock %}

{% block head %}
    <script src="/scripts/post.js" type="module" async defer></script>
{% endblock %}

{% block content %}
    {% macro share(prompt, class="") %}
        <dwac-share class="{{ class }}"
                {% if prompt %} prompt="{{prompt}}" {% endif %}
                target="{{ page.url | url }}"
                article-title="{{ title }}">
        </dwac-share>
    {% endmacro %}

    <div class="post-container">
        {{ share(class="post-end") }}
        <div class="post-content">
            <article class="md">{{ content | safe }}</article>
        </div>
        {{ share(prompt="Interesting post? Share it!", class="post-center") }}
        {{ authorFrag.author(class="post-author") }}
    </div>
{% endblock %}
