main {
    background-color: var(--dwac-theme-color-bg);
}

.md {
    padding-top: 0;
    padding-bottom: 0;
}

dwac-share {
    text-align: right;
    margin: 5px;
}

.author {
    margin: 0 20px 20px 20px;
}
