{% import "fragments/author.njk" as author %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ excerpt }}">
    </head>
    <body>
        <article>{{ content | safe }}</article>
        <aside>{{ author.author() }}</aside>
    </body>
</html>
