@import url("../../styles/base.css");
@import url("../../styles/theme.css");
@import url("../../styles/md.css");
@import url("../fragments/author.css");
@import url("../fragments/footer.css");
@import url("../fragments/header.css");

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    /* Fill available space. */
    flex: 1;
    
    max-width: 1024px;
    width: 100%; /* Needed for centering to not over-expand the content. */
    margin: 0 auto; /* Center content. */

    display: flex;
    flex-direction: column;
}

main {
    /* Fill available space. */
    flex: 1;

    background-color: var(--dwac-theme-color-bg);
}

.md {
    padding-top: 0;
    padding-bottom: 0;
}

dwac-share.start {
    text-align: right;
    margin: 5px;
}

dwac-share.end {
    text-align: center;
}

.author {
    margin: 20px;
}
