@import url("./base.css");
@import url("../../styles/theme.css");
@import url("../../styles/md.css");
@import url("../fragments/author.css");
@import url("../fragments/share.css");

.post-container {
    /* Fill available space. */
    flex: 1;

    display: flex;
    flex-direction: column;
}

#post-series-start, #post-series-end {
    font-size: 0.8em;
    font-style: italic;
    margin: 0.5em 0;
}

#post-series-end {
    margin-bottom: 1em;
}

.post-content {
    /* Fill available space. */
    flex: 1;

    background-color: var(--dwac-color-bg);
}

.md {
    padding-top: 0;
    padding-bottom: 0;
}

dwac-share.post-end {
    text-align: right;
}

dwac-share.post-center {
    text-align: center;
}

.post-author {
    margin: 20px;
}

video {
    width: 100%;
}
