.frag-author h3 {
    margin-top: 0;
}

.frag-author .flexbox {
    display: flex;
}

.frag-author img {
    height: 100px;
    border-radius: 50%;
    margin-right: 5px;
}

.frag-author span {
    margin-left: 5px;
}
