{% macro author(class="") %}
    <aside class="frag-author {{ class }}">
        <h3>About the author</h3>
        <div class="flexbox">
            <picture>
                <source type="image/avif" srcset="/res/img/profile.avif"
                        width="200" height="200">
                <img srcset="/res/img/profile.webp"
                        alt="Headshot of author wearing a Noogler hat, googley-eyed glasses, and a Google t-shirt."
                        width="200" height="200">
            </picture>
            <span>
                Doug is an overly opinionated software engineer on the Angular
                team. He is passionate about the web and developer tooling,
                hoping to simplify software development for everyone.
            </span>
        </div>
    </aside>
{% endmacro %}
