{% macro author() %}
    <h3>About the author</h3>
    <section>
        Doug is an overly opinionated software engineer, most of which are varing
        degress of unpopular.
    </section>
{% endmacro %}
