{#
    Renders a card UI. Content may **not** contain an anchor tag, or else
    formatting explodes. See: https://stackoverflow.com/a/9325634.
#}
{% macro card(link) %}
    <a href="{{ link }}" class="frag-card">
        {{ caller() }}
    </a>
{% endmacro %}
