/** @fileoverview Styles for a simple card UI. */

.frag-card {
    /* Disable link styling on the card itself. */
    color: unset;
    text-decoration: none;

    display: block;
    border: 3px solid var(--dwac-color-primary);
    border-radius: 10px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.5);

    padding: 0.75rem;
}

/* Re-apply link styling on the card's children. */
.frag-card a {
    color: var(--dwac-link-color);
}
.frag-card a:visited {
    color: var(--dwac-link-color-visited);
}

.frag-card .card-title {
    color: var(--dwac-link-color);
    text-decoration: underline;
    margin: 0;
}

.frag-card:visited .card-title {
    color: var(--dwac-link-color-visited);
}

.frag-card .card-content {
    margin-top: 0.5rem;
}
