/** @fileoverview Styles for the page footer. */

@import url(../../styles/base.css);
@import url(../../styles/theme.css);

.frag-footer {
    --dwac-text-color: var(--dwac-theme-text-color-secondary);
    --dwac-link-color: var(--dwac-theme-link-alt-color);
    --dwac-link-color-visited: var(--dwac-theme-link-alt-color-visited);

    background-color: var(--dwac-theme-color-primary);
    padding: 0.75rem;
}

.frag-footer > .content {
    max-width: 1024px;
    margin: 0 auto; /* Center the text block. */
}

.frag-footer {
    font-size: var(--dwac-theme-font-size-small);
}

.frag-footer p:not(:first-child):not(:last-child) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.75rem;
    margin-bottom: 0;
}

.frag-footer p:first-child {
    /* Leave margin-top to be the default. */
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.frag-footer p:last-child {
    /* Leave margin-bottom to be the default. */
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.75rem;
}
