{% set copyrightYear %}
    {# Extract year from the current build date. #}
    {% filter date({ year: 'numeric' }) %}
        {% buildDate %}
    {% endfilter %}
{% endset %}

{% macro footer(author, repo, inputPath, class="") %}
    <footer class="frag-footer {{ class }}">
        <div class="content">
            <p>
                Reach out about anything:
                <a href="/social">Social links</a>
            </p>
            <p>
                Fix a typo or help me write more gooder:
                <a href="{{ repo.source }}/{{ inputPath }}" target="_blank" rel="noopener">
                    dgp1130/blog
                </a>
            </p>
            <p>
                © Copyright {{ copyrightYear }}, Douglas Parker. All
                rights reserved. Powered by
                <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a>
                and
                <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a>.
                <a href="/attributions/">Copyright notices and attributions.</a>
                <a href="/privacy/">Privacy policy.</a>
            </p>
        </div>
    </footer>
{% endmacro %}
