{% macro header(class="") %}
    <header class="frag-header {{ class }}">
        <h1>Devel without a Cause</h1>
    </header>
{% endmacro %}

{% macro styles() %}
    _includes/fragments/header.css
{% endmacro %}
