{% macro header(class="", href="/") %}
    <a href="{{ href }}" class="unstyled" title="Home page">
        <header class="frag-header {{ class }}">
            <img src="/res/img/logo.svg" alt="Site logo" />
            <h1>Devel without a Cause</h1>
        </header>
    </a>
{% endmacro %}
