{% macro header(class="", href="/") %}
    <a href="{{ href }}" class="unstyled" title="Home page">
        <header class="frag-header {{ class }}">
            <h1>
                <img src="/res/img/logo.svg" alt="Site logo" />
                <span>Devel without a Cause</span>
            </h1>
        </header>
    </a>
{% endmacro %}
