/** @fileoverview Styles for the page header. */

.frag-header {
    text-align: center;
    background-color: var(--dwac-theme-color-primary);
    padding: 0.5rem;
}

.frag-header img {
    height: 1em;
    font-size: var(--dwac-theme-font-size-title);
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

.frag-header h1 {
    display: inline-block;
    color: var(--dwac-theme-color-secondary);
    font-size: var(--dwac-theme-font-size-title);
    margin: 0;
    padding: 0;
}

a.unstyled {
    color: unset;
    text-decoration: none;
}
