/** @fileoverview Styles for the page header. */

.frag-header {
    text-align: center;
    background-color: var(--dwac-color-primary);
    padding: 0.5rem;
}

.frag-header img {
    width: auto;
    height: 1em;
    font-size: var(--dwac-font-size-title);
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.frag-header h1 {
    display: inline-block;
    color: var(--dwac-color-highlight);
    font-size: var(--dwac-font-size-title);
    margin: 0;
    padding: 0;
}

a.unstyled {
    color: unset;
    text-decoration: none;
}
