{% macro share(target, title, prompt="", class="") %}
    <div class="frag-share">
        {% if prompt %}<span>{{ prompt | trim }}</span>{% endif %}
        <dwac-share class="{{ class }}"
            target="{{ target | url | trim }}"
            article-title="{{ title | trim }}"
        ></dwac-share>
    </div>
{% endmacro %}
