{% macro share(target, title, prompt="", class="") %}
    <dwac-share class="{{ class }}"
        target="{{ target | url | trim }}"
        article-title="{{ title | trim }}"
        {% if prompt %} prompt="{{ prompt | trim }}" {% endif %}
    ></dwac-share>
{% endmacro %}
