/** Style sheet for the 404 page. */

@import url(./_includes/pages/base.css);
@import url(./styles/theme.css);

.base-content ul {
    color: var(--dwac-text-color);
    list-style: none;
}

.base-content li + li {
    margin-top: 0.75em;
}
