---
pagination:
    data: series
    size: 1
    alias: seriesTag
permalink: 'series/{{ seriesTag }}/'
---

{# Renders individual series pages, linking to all blog posts it contains. #}

{% import "fragments/post-card-list.njk" as postCardList %}

{% extends "pages/base.njk" %}

{% set seriesData = series[seriesTag] %}

{% block title %}
    {{ seriesData.name }}
{% endblock %}

{% block description %}
    {{ seriesData.description }}
{% endblock %}

{% block socialImage %}{% endblock %}
{% block socialImageAlt %}{% endblock %}

{% block scripts %}
    /scripts/base.js
{% endblock %}

{% block styles %}
    ./_series.css
{% endblock %}

{% block content %}
    <h1>{{ seriesData.name }}</h1>

    <p>{{ seriesData.description }}</p>

    {% set posts = collections['series/' + seriesTag]
        | sort(attr="date")
        | reverse %}
    {% call postCardList.postCardList(posts) %}{% endcall %}
{% endblock %}
