<!DOCTYPE html>
<html>
    <head>
        <title>Deployment Info</title>
    </head>
    <body>
        <h1>Deployment Info</h1>
        <ul>
            <li>
                Commit: <a href="{{ repo.href }}/commit/{{ git.commit }}">
                    {{- git.commit | short -}}
                </a>
                {% if not git.clean %}
                    (with local changes)
                {%- endif -%}
                .
            </li>
        </ul>
    </body>
</html>