{% import "fragments/card.njk" as card %}
{% import "fragments/font.njk" as font %}
{% import "fragments/footer.njk" as footer %}
{% import "fragments/header.njk" as header %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Devel without a Cause</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Personal blog about software, web
        tech, programming langauges, game design, and whatever else I feel
        unqualified to discuss.">

        {{ font.font("Lora") }}

        <style>{{ "./index.css" | css | safe }}</style>
    </head>
    <body>
        {{ header.header(class="header") }}

        <main>
            <section>
                <p>
                    This is my personal blog, where I rant, rave, complain, and
                    exclaim about everything that no one asked my opinion of.
                </p>

                <p>
                    I mostly post about software development, of the frontend
                    web variety in particular, but I will talk about anything I
                    am interested in. This ranges from programming languages, to
                    game design, to hot takes about the latest JavaScript
                    framework.
                </p>

                <p>
                    Send your thoughts, feedback, praise, and (well-reasoned)
                    rants to <a href="{{ author.twit }}">@develwoutacause</a>.
                </p>
            </section>

            <section>
                <!-- List of posts most-recent first. -->
                <h2>Posts</h2>
                <ol class="posts">
                    {% for post in collections.posts
                        | sort(attr="date")
                        | reverse
                    %}
                        <li>
                            {% call card.card(link = post.url) %}
                                <h3 class="card-title">
                                    {{- post.data.title -}}
                                </h3>
                                <p class="card-content">
                                    <time class="post-timestamp">
                                        {{- post.date | date({
                                            day: 'numeric',
                                            month: 'short',
                                            year: 'numeric'
                                        }) -}}
                                    </time>
                                    - {{ post.data.excerpt }}
                                </p>
                            {% endcall %}
                        </li>
                    {% endfor %}
                </ol>
            </section>
        </main>

        {{ footer.footer(class="footer", author, repo) }}
    </body>
</html>
