/** Style sheet for the root index page. */

@import url(./styles/theme.css);
@import url(./_includes/pages/base.css);
@import url(./_includes/fragments/header.css);
@import url(./_includes/fragments/post-card-list.css);
@import url(./_includes/fragments/share.css);

dwac-share {
    text-align: right;
    margin-bottom: var(--dwac-base-padding);
}

#posts-section {
    margin-top: 10px;
}

main {
    /* Leave extra room on bottom for last card's drop-shadow. */
    padding-bottom: calc(var(--dwac-base-padding) + 6px);
}
