{% import "fragments/card.njk" as card %}

{% extends "pages/base.njk" %}

{% block title %}
    Devel without a Cause
{% endblock %}

{% block socialImage %}{% endblock %}
{% block socialImageAlt %}{% endblock %}

{% block description %}
    Personal blog about software, web tech, programming langauges, game design,
    and whatever else I feel unqualified to discuss.
{% endblock %}

{% block scripts %}
    /scripts/base.js
{% endblock %}

{% block styles %}
    ./index.css
{% endblock %}

{% block content %}
    <section>
        <p>
            This is my personal blog, where I rant, rave, complain, and exclaim
            about everything that no one asked my opinion of.
        </p>

        <p>
            I mostly post about software development, of the frontend web
            variety in particular, but I will talk about anything I am
            interested in. This ranges from programming languages, to game
            design, to hot takes about the latest JavaScript framework.
        </p>

        <p>
            <a href="/social/">Be social!</a> Reach out to send your thoughts,
            feedback, praise, and (well-reasoned) rants.
        </p>
    </section>

    <section>
        <!-- List of posts most-recent first. -->
        <h2>Posts</h2>
        <ol class="posts">
            {% for post in collections.posts
                | sort(attr="date")
                | reverse
            %}
                <li>
                    {% call card.card(link = post.url) %}
                        <h3 class="card-title">
                            {{- post.data.title -}}
                        </h3>
                        <p class="card-content">
                            <time class="post-timestamp">
                                {{- post.date | date({
                                    day: 'numeric',
                                    month: 'short',
                                    year: 'numeric'
                                }) -}}
                            </time>
                            - {{ post.data.excerpt }}
                        </p>
                    {% endcall %}
                </li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}
