/** Style sheet for the root index page. */

@import url(./styles/theme.css);
@import url(./_includes/pages/base.css);
@import url(./_includes/fragments/card.css);
@import url(./_includes/fragments/header.css);

.base-content {
    /* Leave extra room on bottom for last card's drop-shadow. */
    padding-bottom: calc(var(--dwac-base-padding) + 6px);
}

.posts {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 0 0.5rem;
}

.posts > li {
    max-width: 512px;
    margin: 0 auto; /* Center the card. */
}

.posts > li + li {
    margin-top: 20px;
}

.post-timestamp {
    text-decoration: underline;
    color: black;
}
