{% import "fragments/post-card.njk" as postCard %}
{% import "fragments/share.njk" as share %}

{% extends "pages/base.njk" %}

{% block title %}
    Devel without a Cause - Blog
{% endblock %}

{% block socialImage %}{% endblock %}
{% block socialImageAlt %}{% endblock %}

{% block description %}
    Personal blog about software, web tech, programming langauges, game design,
    and whatever else I feel unqualified to discuss.
{% endblock %}

{% block scripts %}
    /scripts/base.js
{% endblock %}

{% block styles %}
    ./index.css
{% endblock %}

{% block content %}
    {{ share.share(target=page.url, title=title) }}

    <section>
        <p>
            This is my personal blog, where I rant, rave, complain, and exclaim
            about everything that no one asked my opinion of.
        </p>

        <p>
            I mostly post about software development, of the frontend web
            variety in particular, but I will talk about anything I am
            interested in. This ranges from programming languages, to game
            design, to hot takes about the latest JavaScript framework.
        </p>

        <p>
            <a href="/social/">Be social!</a> Reach out to send your thoughts,
            feedback, praise, and (well-reasoned) rants.
        </p>
    </section>

    <section id="posts-section">
        <!-- List of posts most-recent first. -->
        <h2>Posts</h2>
        <ol class="post-list">
            {% for post in collections.posts
                | sort(attr="date")
                | reverse
            %}
                <li>{% call postCard.postCard(post) %}{% endcall %}</li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}
