/** Style sheet for the series list page. */

@import url(./styles/theme.css);
@import url(./_includes/pages/base.css);
@import url(./_includes/fragments/card.css);

ol {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 0 0.5rem;
}

li {
    width: 100%;
    max-width: calc(0.75 * (1024px - (2 * var(--dwac-base-padding))));
    margin: 0 auto; /* Center the card. */
}

li + li {
    margin-top: 20px;
}
