/** @fileoverview Styles for syntax highlighting of HTML code. */

code:is(.language-html, .language-xml) {
    color: #405d40;
}

code:is(.language-html, .language-xml) .punctuation {
    color: black;
}

code:is(.language-html, .language-xml) .tag {
    color: blue;
}

code:is(.language-html, .language-xml) .attr-name {
    color: #0073dd;
}

code:is(.language-html, .language-xml) .attr-value {
    color: #a55828;
}
