/** @fileoverview Styles for syntax highlighting of Java code. */

code.language-java {
    --dwac-code-base-color: #0073dd;
    color: var(--dwac-code-base-color);
}

code.language-java .comment {
    color: #006800;
}

code.language-java .string {
    color: #a55828;
}

code.language-java .annotation,
code.language-java .annotation.punctuation {
    color: var(--dwac-code-base-color);
}

code.language-java .namespace {
    color: #767676;
}

code.language-java .generics {
    color: skyblue;
}

code.language-java .class-name {
    color: green;
}

code.language-java .keyword {
    color: blue;
}

code.language-java .boolean {
    color: blue;
}

code.language-java .function {
    color: #a55828;
}

code.language-java .number {
    color: #006800;
}

code.language-java .operator {
    color: black;
}

code.language-java .punctuation {
    color: black;
}
