/** @fileoverview Styles for syntax highlighting of TypeScript code. */

code.language-typescript {
    --dwac-code-base-color: #0073dd;
    color: var(--dwac-code-base-color);
}

code.language-typescript .comment {
    color: #006800;
}

code.language-typescript .template-string {
    color: #a55828;
}

code.language-typescript .template-string > .interpolation {
    color: var(--dwac-code-base-color); /* Reset to base color. */
}

code.language-typescript .string {
    color: #a55828;
}

code.language-typescript .class-name {
    color: var(--dwac-code-base-color); /* Reset to base color. */
}

code.language-typescript .regex {
    color: #a00;
}

code.language-typescript .constant {
    color: blue;
}

code.language-typescript .keyword {
    color: blue;
}

code.language-typescript .boolean {
    color: blue;
}

code.language-typescript .function {
    color: #a55828;
}

code.language-typescript .number {
    color: #006800;
}

code.language-typescript .operator {
    color: black;
}

code.language-typescript .punctuation {
    color: black;
}

code.language-typescript .builtin {
    color: blue;
}
