/** @fileoverview Styles for syntax highlighting of TypeScript code. */

code.language-typescript {
    --dwac-code-base-color: #26b8b8;
    color: var(--dwac-code-base-color);
}

code.language-typescript .comment {
    color: green;
}

code.language-typescript .template-string {
    color: orange;
}

code.language-typescript .template-string > .interpolation {
    color: var(--dwac-code-base-color); /* Reset to base color. */
}

code.language-typescript .string {
    color: orange;
}

code.language-typescript .class-name {
    color: var(--dwac-code-base-color); /* Reset to base color. */
}

code.language-typescript .regex {
    color: red;
}

code.language-typescript .constant {
    color: blue;
}

code.language-typescript .keyword {
    color: blue;
}

code.language-typescript .boolean {
    color: blue;
}

code.language-typescript .function {
    color: #99a326;
}

code.language-typescript .number {
    color: #00c000;
}

code.language-typescript .operator {
    color: black;
}

code.language-typescript .punctuation {
    color: black;
}

code.language-typescript .builtin {
    color: blue;
}
