/**
 * @fileoverview Base styles for every page of the blog.
 * 
 * We use `:where()` in all of these styles because it has *zero* specificity,
 * meaning any style applied to an element will override it, making this very
 * useful for defaults that don't block other styles.
 */

 /*
  * Styles which are inherited by every element. Note that some user-agent
  * styles can override these values if they apply directly to a specific
  * element, since directly targeted styles have higher priority than inherited
  * styles: https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#directly_targeted_elements_vs._inherited_styles.
  */
:where(body) {
    /* No implicit padding on the page. */
    margin: 0;
    padding: 0;

    /* Default sizing and color information. */
    font-family: var(--dwac-font-primary);
    font-size: var(--dwac-font-size-medium);
    line-height: 1.5em;
    color: var(--dwac-text-color-primary);
}

/*
 * The first and last paragraph in a sequence should not extend margins past
 * their container.
 */
:where(p:first-child) {
    margin-top: 0;
}
:where(p:last-child) {
    margin-bottom: 0;
}

:where(a) {
    color: var(--dwac-link-color);
}
:where(a:visited) {
    color: var(--dwac-link-color-visited);
}
