/** @fileoverview Base styles for every page of the blog.  */

:where(body) {
    /* No implicit padding on the page. */
    margin: 0;
    padding: 0;

    /* Default sizing and color information. */
    font-family: var(--dwac-theme-font-primary);
    font-size: var(--dwac-theme-font-size-medium);
    line-height: 1.5em;
    color: var(--dwac-theme-text-color-primary);
}

/*
 * The first and last paragraph in a sequence should not extend margins past
 * their container.
 */
:where(p:first-child) {
    margin-top: 0;
}
:where(p:last-child) {
    margin-bottom: 0;
}

:where(a) {
    color: var(--dwac-theme-link-color);
}
:where(a:visited) {
    color: var(--dwac-theme-link-color-visited);
}
