/**
 * @fileoverview Theming values for the application.
 *
 * All variables should start with `--dwac-*` (Devel without a Cause) as a
 * namespace.
 */

@import url(../res/fonts/lora/lora.css);
@import url(../res/fonts/noto/noto-color-emoji.css);

:root {
    /* Core theme colors. */
    --dwac-color-primary: #0d47a1;
    --dwac-color-secondary: white;
    --dwac-color-bg: #fefefe;
    --dwac-color-bg-secondary: #101010;
    --dwac-color-highlight: #fa0;

    /* Text colors. */
    --dwac-text-color-primary: #666;
    --dwac-text-color-secondary: white;

    /* Fonts. */
    --dwac-font-primary: Lora, 'Lora Fallback', 'Times New Roman', serif, 'Noto Color Emoji', emoji;

    /* Font sizes. */
    /*
     * Generated fluid type scale with https://www.fluid-type-scale.com/calculate.
     *
     * Scales font from: 1em of a 16px base font at minimum width (400px).
     * Scales font to: 1.5em of a 19px base font at maximum width (1024px).
     *
     * This roughly maintains a line length of ~50-75 characters which aligns
     * with optimal UX recommendations: https://baymard.com/blog/line-length-readability
     */
    --dwac-font-size-medium: clamp(1rem, 2vi + 0.5rem, 1.78rem);
    --dwac-font-size-small: 0.8em;
    --dwac-font-size-title: 1.5em;

    /* Link theme colors. Should not be changed on any elements. */
    --dwac-link-color: var(--dwac-color-primary);
    --dwac-link-color-visited: purple;
    --dwac-link-alt-color: var(--dwac-color-secondary);
    --dwac-link-alt-color-visited: #ffa6df;
}
