/**
 * @fileoverview Theming values for the application.
 *
 * All variables should start with `--dwac-*` (Devel without a Cause) as a
 * namespace.
 */

@import url(../res/fonts/lora/lora.css);
@import url(../res/fonts/noto/noto-color-emoji.css);

:root {
    /* Core theme colors. */
    --dwac-color-primary: #0d47a1;
    --dwac-color-secondary: white;
    --dwac-color-bg: #fefefe;
    --dwac-color-bg-secondary: #101010;
    --dwac-color-highlight: #fa0;

    /* Text colors. */
    --dwac-text-color-primary: #666;
    --dwac-text-color-secondary: white;
    
    /* Fonts. */
    --dwac-font-primary: Lora, 'Noto Color Emoji', Verdana, sans-serif;

    /* Font sizes. */
    --dwac-font-size-small: 0.8em;
    --dwac-font-size-medium: 1.25em;
    --dwac-font-size-title: 32px;

    /* Link theme colors. Should not be changed on any elements. */
    --dwac-link-color: var(--dwac-color-primary);
    --dwac-link-color-visited: purple;
    --dwac-link-alt-color: var(--dwac-color-secondary);
    --dwac-link-alt-color-visited: #ffa6df;
}
