<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8" />
        <meta name="description" content="{{ site.description }}" />
    </head>
    <body>
        {% include header.html %}
        <main>
            <p>
            {{ content }}
            </p>

            <ul>
                {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <p>{{ post.excerpt }}</p>
                    </li>
                {% endfor %}
            </ul>
        </main>
        {% include footer.html %}
    </body>
</html>
